{% extends 'front/blog/blog_layout.html.twig' %}

{% block content2 %}
    <h1>{{ article.name }}</h1>
    {% if article.mainImg %}
        <img width="500" src="{{ app.request.getBasePath }}{{ article.mainImagePath }}">
    {% endif %}
    <div class="c-article-content">
        {{ article.text|raw }}
    </div>
    <span class="text-muted small">Published on: {{ article.createdAt|date('d. m. Y H:i') }}</span>

    <h2>Comments</h2>
    <h3>Leave a comment!</h3>
    <div class="row">
        <div class="col-md-6" id="article-comment-form">
            {{ render(controller('AppBundle:Front/Blog:renderCommentForm')) }}
        </div>
    </div>

    <div id="js-all-comments">
        {% include('front/_includes/_all_comments.html.twig') %}
    </div>

    <script>
        function postForm( $form, callback ){
            var values = {};
            $.each( $form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });
            values['article_id'] = {{ article.id }};
            $.post(
                $form.attr('action'),
                values,
                function(data) {
                    callback(data);
                }
            );
        }

        $(function () {
            $(document).on('submit', 'form[name="comment"]', function(e) {
                e.preventDefault();
                postForm( $(this), function(data){
                    if(!data.error){
                        $('#js-all-comments').html(data.comments_html);
                        $('#article-comment-form #comment_text, #comment_posted_by').val('');
                    }
                    $('#js-flash-messages-wrapper').html(data.flashes_html);
                });
            });

            $(document).on('click', '.js-respond-to-comment', function () {
                var $wrapper = $(this).closest('.js-comment-wrapper');
                $.get($(this).data('href'), function (data) {
                    $wrapper.append(data);
                })
            });

            $(document).on('click', '.js-vote-on-comment', function () {
                var $wrapper = $(this).closest('.js-comment-wrapper');
                $.post(
                    $(this).data('href'),
                    {reaction: $(this).data('reaction'), commentId: $(this).data('comment-id')},
                    function (data) {
                        if(data.error){
                            alert(data.message);
                        }
                        if(!data.error && data.html){
                            $wrapper.html(data.html);
                        }
                    }
                )
            })
        })
    </script>

{% endblock %}