{% extends 'front/blog/blog_layout.html.twig' %}

{% block content2 %}
    <h1>Articles</h1>
    <ul class="list-unstyled">
        {% for article in articles %}
            <li class="c-article-height">
                <div class="row">
                    <div class="col-md-3">
                        {% if article.isMainImg %}
                            <img width="100%" src="{{ app.request.getBasePath }}{{ article.getMainImagePath }}">
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <h2><a href="{{ path('front_display_article', {'url': article.url }) }}">{{ article.name }}</a></h2>
                        <p>{{ article.perex }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}

        {% if articles is empty %}
            {% include 'front/_includes/_empty_page_notice.html.twig' %}
        {% endif %}
    </ul>
{%  endblock %}
