{% extends 'admin/layout.html.twig' %}

{% block content %}
    {% for comment in comments %}
        <div class="js-comment-wrapper">
            <span><b>{{ comment.postedBy }}</b></span>
            <ul>
                <li>{{ comment.createdAt|date('d. m. Y H:i') }}</li>
                <li>{{ comment.votes }}</li>
                <li>{{ comment.text }}</li>
                <li><button class="js-delete-comment"  data-href="{{ path('admin_blog_delete_comment') }}" data-id="{{ comment.id }}">Delete</button></li>
            </ul>
        </div>
    {% endfor %}

    <script>
        $(function () {
            $(document).on('click', '.js-delete-comment', function () {
                var $element = $(this);
                $.post($element.data('href'), {id: $element.data('id')}, function (data) {
                    $('.js-flash-messages-wrapper').html(data.flashes_html);
                    if(!data.error){
                        $element.closest('.js-comment-wrapper').remove();
                    }
                })
            })
        })
    </script>

{% endblock %}

