{% use 'bootstrap_3_layout.html.twig' %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error has-feedback{% endif %}">
        {{- form_label(form) -}}
        {% if help|default %}
            {% set attr = attr|merge({ 'aria-describedby': 'help-block-'~id }) %}
        {% endif %}
        {{- form_widget(form, { attr: attr }) -}}
        {% if help|default %}
            <span class="help-block" id="help-block-{{ id }}">{{ help }}</span>
        {% endif %}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block form_widget_simple -%}
    {% set showIcon = false %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {% set showIcon = not valid %}
    {% endif %}
    {{- parent() -}}
    {% if showIcon %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}
{%- endblock form_widget_simple %}